body { 
	background-color: lightyellow; 
	background-image:url("layout_campo.jpg");	
	} 
p {
	color: white; 
	text-align: left; 
	}
	
h1 { 
	color: red;
	text-align: center; 	
	} 
	
h2 { 
	color: orange;
	text-align: left; 	
	} 
	
h3 { 
	color: yellow;
	text-align: left; 	
	}
